/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  /* Переменные темной темы */   
  --background: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --header-text-color: #FF0070;
  --background-text: #000028;
  --accent-details-color: #FF0070;
  --text-color_transparent: #FF007066;
  --background-image: url(../images/cover-image-dark.png);
}

/* Остальные стили */

@media (prefers-color-scheme: dark) {
  :root {
    /* Дублируем переменные темной темы */  
    --background: #000028;
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --main-text-color: #F1B2CE;
    --header-text-color: #FF0070;
    --background-text: #000028;
    --accent-details-color: #FF0070;
    --text-color_transparent: #FF007066;
    --background-image: url(../images/cover-image-dark.png);
  }
}

/* Остальные стили */

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: var(--background-image);
}

  .page.theme_dark .REC::before {
    content: "REC";
    font-family: 'IBM Plex mono', sans-serif;
    line-height: 25px;
    color: var(--accent-details-color);
    margin-inline-end: 10px;
  } 

  .page.theme_dark .REC::after {
    content: "";
    position: absolute;
    margin-block-start: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--accent-details-color);
    box-shadow: 0px 0px 4px 2px var(--accent-details-color);
  } 

.page.theme_dark .header__title {
  color: var(--title-color);
}