/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  /* Дублируем переменные для светлой темы */
  --background: #FFF1F7;
  --accent-color: #ff8dcb;
  --title-color: #FFC2E6;
  --main-text-color: #353430;
  --header-text-color: #353430;
  --background-text: #353430;
  --accent-details-color: #353430;
  --text-color_transparent: #32312D66;
  --background-image: url(../images/cover-image-light.png);
}

.page.theme_light .REC {
  display: none;
}