
/* Основные стили проекта. Это стили для темы, которую вы верстаете первой.*/

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-height: 668px;
  background-color: var(--background);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'IBM Plex mono', sans-serif;
  font-size: var(--text-size);
  line-height: var(--text-lh);
  padding: 20px;
}

/*==========HEADER==========*/

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  justify-content: space-between;
  grid-template: 0 29.5% 41% / 100%;
  padding-bottom: 40px;
} 

.decorated-zone::before {
  content: "";
  justify-self: end;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-details-color);
  border-right: 1px solid var(--accent-details-color);
} 

.decorated-zone::after {
  content: "";
  align-self: end;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-details-color);
  border-left: 1px solid var(--accent-details-color);
}

.REC {
  position: absolute;
  justify-self: end;
  inset: 0 18px;
}

.REC::before {
  display: none;
  content: "REC";
  line-height: 25px;
  color: var(--accent-details-color);
  margin-inline-end: 10px;
}

.REC::after {
  display: none;
  content: "";
  position: absolute;
  inset: 8px 0px 0px 42px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-details-color);
  box-shadow: 0px 0px 4px 2px var(--accent-details-color);
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.header__theme-menu-item {
  margin-block-start: 0;
  margin-inline: 5px;
}

.header__theme-menu-button {
  padding: 0 13px 0 13px;
  background-color: transparent;
  border: none;
  letter-spacing: 0.2px;
  text-transform: lowercase;
  color: var(--header-text-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--header-text-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--text-color_transparent);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--header-text-color);
  pointer-events: none;
}

.header__title {
  margin-inline-start: -20px;
  display: grid;
  align-items: center;
  font-weight: bold;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 96px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  max-width: 50%;
  justify-self: end;
  align-self: center;
  color: var(--background-text);
}

.title-decor {
  font-size: var(--text-size);
  line-height: var(--text-lh);
  font-weight: bold;
  text-align: left;
  background-color: var(--accent-color);
  color: var(--background-text);
}

/*==========MAIN==========*/

.section {
  margin-block-end: 80px;
}

.section-list {
  display: grid;
  grid-template-columns: 32% 1fr;
  gap: var(--gap);
  margin-block-start: 40px;
  color: var(--header-text-color);
}

.article-list {
  grid-column: 2;
} 

.section__title {
  font-size: var(--text-size);
  line-height: var(--text-lh);
  font-weight: bold;
  text-align: left;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

.title-table {
  margin-block-start: 20px;
  margin-block-end: 20px;
  color: var(--header-text-color);
}

.advice__title {
  font-weight: normal;
  text-align: left;
  background-color: var(--accent-color);
  color: var(--background-text);
  margin-block-end: 10px;
}

.section-list__title {
  grid-row: span 1;
  align-self: start;
}

.section-list__title-more {
  grid-row-start: 1;
  grid-row-end: span 6;
} 

.text {
  margin-block-start: 10px;
  font-weight: normal;
  text-align: left;
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
  color: var(--main-text-color);
  text-shadow: 2px 1px 0 var(--accent-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

/*==========GALERY==========*/

.galery {
  margin-block-start: 50px;
  margin-block-end: 40px;
}

.title-galery {
  margin-block-start: 20px;
  margin-block-end: 20px;
}

.section__galery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

.sunset {
  grid-column: 1/3;
}

.ice-cream {
  grid-row: 1/3;
  grid-column: 3/4;
}

.tape {
  grid-row: 2/4;
  grid-column: 1/2;
}

.books {
  grid-row: 2/3;
  grid-column: 2/3;
}

.street {
  grid-row: 3/4;
  grid-column: 2/4;
}

.section__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*==========FOOTER==========*/

.footer {
  height: 100vh;
  min-height: 668px;
  display: grid;
  padding-top: 40px;
}

.footer__title {
  justify-self: center;
  align-self: center;
  font-weight: bold;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 130px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

/*=DESKTOP MEDIA=*/

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    grid-template: 10.5% 22.5% 34% / 100%;
  }
  
  .header__theme-menu {
    margin-inline: -5px;
    display: grid;
    justify-self: end;
    align-items: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__theme-menu-item {
    margin-block-start: 12px;
  }

  /*===MAIN===*/

  .table {
    display: block;
  }

  .title-table {
    width: 33%;
  }

  .article-table {
    margin-block-end: 20px;
  }
}

/*=MOBILE MEDIA=*/

@media (max-width: 767px) {
  .page {
    padding: 10px;
  }
  
  .header {
    justify-content: space-evenly;
    grid-template: 1.7% 29.5% 38% / 100%;
    padding-bottom: 20px;
  }

  .header__theme-menu {
    margin-inline: -5px;
    display: grid;
    justify-self: end;
    align-items: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__theme-menu-item {
    margin-block-start: 12px;
  }

  .header__title {
    margin-inline-start: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    min-width: 100%;
    justify-self: start;
  }

  /*===MAIN===*/
  
  .section {
    margin-block-end: 50px;
  }

  .section-list {
    margin-block-start: 30px;
    display: block;
  }

  .title-decor {
    margin-block-start: 20px;
    margin-block-end: 10px;
  }

  .table {
    display: block;
  }

  .title-table {
    width: 100%;
  }

  .advice__title {
    margin-block-start: 20px;
  }

  /*===GALERY===*/
  
  .galery {
    margin-block-end: 18px;
  }

  .title-galery {
    margin-block-end: 10px;
  }
  
  .section__galery {
    display: block;
  }

  .section__image {
    margin-block-end: 5px;
  }

  /*===FOOTER===*/

  .footer {
    padding-top: 20px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}